*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: black;
}

.nav-item {
    text-align: center;
    transition: all 0.3s ease;
}

.nav-item:hover {
    background-color: #333;
}

.nav-item:active {
    background-color: #555;
    color: white;
    scale: 0.95;
}

.navbar-logo {
    align-items: center;
    width: 120px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}